---
import { Image } from 'astro:assets';
import exp1 from '@/images/exp1.png';
import exp2 from '@/images/exp2.png';
---

<section class="bg-white">
  <div class="max-w-4xl mx-auto pb-12">
    <h2 class="text-carrot font-display text-3xl md:text-4xl pl-8">
      News
    </h2>
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="false" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide>
      <article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
        <div class="flex-shrink-0 w-full md:w-96">
          <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
        </div>
        <div class="flex-1">
          <h2 class="text-blue-950 font-display text-xl md:text-2xl">
            <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
              Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
            </a>
          </h2>
          <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
          <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
            We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
            133
             Sn 
              by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
            132
             Sn 
             . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
        </div>
</article>
    </swiper-slide>
    <swiper-slide>
      <article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
        <div class="flex-shrink-0 w-full md:w-96">
          <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
        </div>
        <div class="flex-1">
          <h2 class="text-blue-950 font-display text-xl md:text-2xl">
            <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
              Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
            </a>
          </h2>
          <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
          <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
            We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
            133
             Sn 
              by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
            132
             Sn 
             . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
        </div>
</article>
    </swiper-slide>
    <swiper-slide>
      <article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
        <div class="flex-shrink-0 w-full md:w-96">
          <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
        </div>
        <div class="flex-1">
          <h2 class="text-blue-950 font-display text-xl md:text-2xl">
            <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
              Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
            </a>
          </h2>
          <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
          <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
            We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
            133
             Sn 
              by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
            132
             Sn 
             . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
        </div>
</article>
    </swiper-slide>
    <swiper-slide>
      <article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
        <div class="flex-shrink-0 w-full md:w-96">
          <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
        </div>
        <div class="flex-1">
          <h2 class="text-blue-950 font-display text-xl md:text-2xl">
            <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
              Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
            </a>
          </h2>
          <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
          <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
            We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
            133
             Sn 
              by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
            132
             Sn 
             . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
        </div>
</article>
    </swiper-slide>
    <swiper-slide><article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
      <div class="flex-shrink-0 w-full md:w-96">
        <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
      </div>
      <div class="flex-1">
        <h2 class="text-blue-950 font-display text-xl md:text-2xl">
          <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
            Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
          </a>
        </h2>
        <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
        <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
          We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
          133
           Sn 
            by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
          132
           Sn 
           . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
      </div>
</article>
</swiper-slide>
    <swiper-slide>
      <article class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-4 mb-10 w-full p-8">
        <div class="flex-shrink-0 w-full md:w-96">
          <Image src={exp1} alt="Experiment 1 Image" class="w-full h-auto object-cover" />
        </div>
        <div class="flex-1">
          <h2 class="text-blue-950 font-display text-xl md:text-2xl">
            <a target="_blank" href="https://journals.aps.org/prc/abstract/10.1103/PhysRevC.102.051301" class="hover:text-carrot">
              Doubly-magic character of <sup>132</sup>Sn studied via electromagnetic moments of <sup>133</sup>Sn
            </a>
          </h2>
          <p class="mt-1 text-[#ed772f] text-sm md:text-base">By <span class="authors">L. V. Rodríguez et al.</span></p>
          <p class="text-sm md:text-base text-neutral-700 text-justify mt-2">
            We report the first measurement of the magnetic dipole and electric quadrupole moment of the exotic nucleus  
            133
             Sn 
              by high-resolution laser spectroscopy at ISOLDE/CERN. These, in combination with state-of-the-art shell-model calculations, demonstrate the single-particle character of the ground state of this short-lived isotope and, hence, the doubly-magic character of its immediate neighbor  
            132
             Sn 
             . The trend of the electromagnetic moments along the 𝑁=83 isotonic chain, now enriched with the values of tin, are discussed on the basis of realistic shell-model calculations.            </p>
        </div>
</article>
    </swiper-slide>
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    </>
  </div>
</section>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>



