---
import { Image } from 'astro:assets';
import rn from '@/images/rn.jpg';
import wn from '@/images/wn.jpg';
import bc from '@/images/bc.jpg';
import rs from '@/images/rs.jpg';
import gn from '@/images/gn.png';
import rg from '@/images/rg.png';
import xy from '@/images/xy.png';
import kb from '@/images/kb.webp';
---

<section class=" bg-white ">
  <div class="max-w-4xl mx-auto pb-16">
        <div class="text-black text-xs flex flex-col mx-auto px-8 pt-0">
          <ul class="space-y-16">
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={kb} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl mb-2">Prof. Klaus Blaum</h3>
                  <a target="_blank" href="https://www.mpg.de/153890/kernphysik" class="text-carrot hover:underline text-sm md:text-base">
                    MAX-PLANCK-INSTITUT FÜR KERNPHYSIK
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">Saupfercheckweg 1, 69117 Heidelberg, Germany</li>
                    <li class="text-sm md:text-base">+49 62 21 516 850</li>
                    <li class="text-sm md:text-base"><a href="mailto:klaus.blaum@mpi-hd.mpg.de" class="text-carrot hover:underline">klaus.blaum@mpi-hd.mpg.de</a></li>
                  </ul>
                </div>
              </div>                                                   
              <p class="text-sm md:text-base mt-3">
                Professor Klaus Blaum is a prominent German physicist known for his work in the field of nuclear and atomic physics. He is associated with the Max Planck Institute for Nuclear Physics (Max-Planck-Institut für Kernphysik) in Heidelberg, Germany, where he has made significant contributions to precision experiments related to atomic and nuclear masses.
                Prof. Blaum's work has significantly advanced our understanding of the fundamental properties of matter, making him a leading figure in nuclear and atomic physics. <a target="_blank" href="https://www.mpg.de/458609/nuclear-physics-blaum" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={gn} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl mb-2">Prof. Gerda Neyens</h3>
                  <a target="_blank" href="https://fys.kuleuven.be/iks" class="text-carrot hover:underline text-sm md:text-base">
                    KU Leuven Instituuut voor Kern- en Stralingsfysica,               
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">Celestijnenlaan 200D, 3001 Leuven, Belgium</li>
                    <li class="text-sm md:text-base">+32 1632 7261</li>
                    <li class="text-sm md:text-base "><a href="mailto:gerda.neyens@kuleuven.be" class="text-carrot hover:underline">gerda.neyens@kuleuven.be</a></li>
                  </ul>
                </div>
              </div>                                                   
              <p class="text-sm md:text-base mt-3">
                Professor Gerda Neyens is a notable Belgian physicist recognized for her contributions to nuclear physics. She is particularly known for her work in nuclear structure and hyperfine interactions using radioactive ion beams. Neyens has conducted significant research at leading facilities such as ISOLDE at CERN, where she has been involved in experiments that explore the properties of exotic nuclei.
                As a professor and researcher, Neyens has contributed to scientific literature and has been involved in mentoring and guiding students and younger researchers in the field of nuclear physics. Her work is highly respected in the international scientific community. <a target="_blank" href="https://www.kuleuven.be/wieiswie/en/person/00014353" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={rn} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Prof. Rainer Neugart</h3>
                  <a target="_blank" href="https://www.uni-mainz.de/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    J. GUTENBERG UNIVERSITÄT MAINZ
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">Institut für Kernchemie, 55099 Mainz, Germany</li>
                    <li class="text-sm md:text-base">+49 6131 3922 608</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:neugart@uni-mainz.de" class="text-carrot hover:underline">neugart@uni-mainz.de</a>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="text-sm md:text-base mt-3">
                Rainer Neugart is an academic researcher from Max Planck Society. The author has contributed to research in topics: Hyperfine structure & Spectroscopy. The author has an hindex of 44, co-authored 185 publications. Previous affiliations of Rainer Neugart include University of Mainz & Katholieke Universiteit Leuven. <a target="_blank" href="https://inspirehep.net/authors/2471928" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={wn} alt="Prof. Wilfried Nörtershäuser" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Prof. Wilfried Nörtershäuser</h3>
                  <a target="_blank" href="https://www.tu-darmstadt.de/index.en.jsp" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    TECHNISCHE UNIVERSITÄT DARMSTADT
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">
                      Institut für Kernphysik, S2|14 410, Schlossgartenstraße 9, 64289 Darmstadt, Germany
                    </li>
                    <li class="text-sm md:text-base">+49 6151 16-23575</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:wnoertershaeuser@ikp.tu-darmstadt.de" class="text-carrot hover:underline">
                        wnoertershaeuser@ikp.tu-darmstadt.de
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="text-sm md:text-base mt-3">
                Prof. Wilfried Nörtershäuser is a physicist known for his work in experimental nuclear physics. As of the latest information available, he is a professor at Technische Universität Darmstadt (TU Darmstadt) in Germany. His research often involves studies of fundamental interactions and nuclear processes, including precision measurements and tests of fundamental symmetries. <a target="_blank" href="https://shorturl.at/9TA3s" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={bc} alt="Prof. Bradley Cheal" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Prof. Bradley Cheal</h3>
                  <a target="_blank" href="https://www.liverpool.ac.uk/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    UNIVERSITY OF LIVERPOOL
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">
                      Nuclear Physics Group, Oxford Street, L69 7ZE Liverpool, UK
                    </li>
                    <li class="text-sm md:text-base">+44 (0)151 794 3376</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:Bradley.Cheal@liverpool.ac.uk" class="text-carrot hover:underline">
                        Bradley.Cheal@liverpool.ac.uk
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="text-sm md:text-base mt-3">
                Professor Bradley Cheal is a notable academic in the field of physics, recognized for his contributions to nuclear physics. His qualifications and fellowships highlight a strong background in the field. For more detailed information on his research interests or academic work, visit his university profile or explore his recent publications. 
                <a target="_blank" href="https://shorturl.at/xyz12" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={rs} alt="Dr. Rodolfo Sanchez" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Dr. Rodolfo Sanchez</h3>
                  <a target="_blank" href="https://www.gsi.de/start/aktuelles" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    GSI HELMHOLTZ CENTRE FOR HEAVY ION RESEARCH
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">
                      Atomic Physics Group, Planckstraße 1, 64291 Darmstadt, Germany
                      Room: SB3 2.265a
                    </li>
                    <li class="text-sm md:text-base">+49 6159 71 2090</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:R.Sanchez@GSI.DE" class="text-carrot hover:underline">
                        R.Sanchez@GSI.DE
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="text-sm md:text-base mt-3">
                Dr. Rodolfo Sanchez is associated with the GSI Helmholtz Centre for Heavy Ion Research, a research facility in Germany focused on heavy ion physics. The GSI Centre conducts advanced research in nuclear physics, hadron and ion research, and related fields.
                <a target="_blank" href="https://www.researchgate.net/scientific-contributions/Rodolfo-Sanchez-2086079631" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={rg} alt="Prof. Ronald F. Garcia Ruiz" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Prof. Ronald F. Garcia Ruiz</h3>
                  <a target="_blank" href="https://www.mit.edu/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    MIT
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">
                      EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland
                    </li>
                    <li class="text-sm md:text-base">+41 22 767 2783</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:ronald.fernando.garcia.ruiz@cern.ch" class="text-carrot hover:underline">
                        ronald.fernando.garcia.ruiz@cern.ch
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              
              <p class="text-sm md:text-base mt-3">
                Dr. Ronald Fernando Garcia Ruiz is an Assistant Professor at the Department of Physics at MIT. His research activities are focused on developing laser spectroscopy techniques to investigate the properties of subatomic particles using atoms and molecules made up of short-lived radioactive nuclei. His experimental work provides unique information about the fundamental forces of nature, the properties of nuclear matter at the limits of existence, and the search for new physics beyond the Standard Model of particle physics.
                <a target="_blank" href="https://physics.mit.edu/faculty/ronald-garcia-ruiz/" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            
            <li>
              <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
                <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                  <Image src={xy} alt="Prof. Xiaofei Yang" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col justify-center">
                  <h3 class="text-black font-display text-xl md:text-2xl">Prof. Xiaofei Yang</h3>
                  <a target="_blank" href="https://english.pku.edu.cn/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                    PEKING UNIVERSITY
                  </a>
                  <ul class="pt-4 space-y-1">
                    <li class="text-sm md:text-base text-neutral-700">
                      School of Physics and State Key Laboratory of Nuclear Physics and Technology, China
                    </li>
                    <li class="text-sm md:text-base">+41 22 767 2783</li>
                    <li class="text-sm md:text-base">
                      <a href="mailto:xiaofei.yang@pku.edu.cn" class="text-carrot hover:underline">
                        xiaofei.yang@pku.edu.cn
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              
              <p class="text-sm md:text-base mt-3">
                Dr. Xiaofei Yang is an assistant professor at Peking University. Her main research topics are the development of high-precision and high-sensitivity laser spectroscopy techniques and the associated structure studies of exotic nuclei. She received her Ph.D. degree in nuclear physics from Peking University, China, in 2014. 
                <a target="_blank" href="https://faculty.pku.edu.cn/yangxiaofei/en/index.htm" class="text-carrot hover:underline">More...</a>
              </p>
            </li>
            
          </ul>
        </div>
  </div>
</section>
