---
import { Image } from 'astro:assets';
import MaxPlanck from '@/images/max-planck.jpg';
import JGU from '@/images/jgu.jpg';
import TDU from '@/images/tdu.jpg';
import UL from '@/images/ul.jpg';
import GSI from '@/images/gsi.jpg';
import PSU from '@/images/psu.png';
import PU from '@/images/pu.png';
---

<section class="bg-white">
  <div class="max-w-4xl mx-auto pb-12">
        <div class="text-black text-xs flex flex-col mx-auto p-8 pt-0">
          <ul class="space-y-12">
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                Max Planck Institute for Nuclear Physics
              </h3>
              <a target="_blank" href="https://www.mpi-hd.mpg.de/mpi/en/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                mpi-hd.mpg.de
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">Saupfercheckweg 1, 69117 Heidelberg, Germany</li>
                <li class="text-sm md:text-base">+49 6221 5160</li>
              </ul>
              <Image src={MaxPlanck} alt="Max Planck Institute for Nuclear Physics" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                The institute is one of the 80 institutes of the Max-Planck-Gesellschaft (Max Planck Society), an independent, non-profit research organization. The Max Planck Institute for Nuclear Physics was founded in 1958 under the leadership of Wolfgang Gentner. Its precursor was the Institute for Physics at the MPI for Medical Research.
                Today, the institute's research areas are: crossroads of particle physics and astrophysics (astroparticle physics) and many-body dynamics of atoms and molecules (quantum dynamics).
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                Johannes Gutenberg University of Mainz
              </h3>
              <a target="_blank" href="https://www.uni-mainz.de/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                uni-mainz.de
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">Saarstraße 21, 55122 Mainz, Germany</li>
                <li class="text-sm md:text-base">+49 6131 390</li>
              </ul>
              <Image src={JGU} alt="Johannes Gutenberg University of Mainz" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                The university is a member of the German U15, a group of fifteen major research and medical universities in Germany. It also participates in the IT-Cluster Rhine-Main-Neckar and forms part of the Rhine-Main-Universities (RMU) along with Goethe University Frankfurt and Technische Universität Darmstadt.
                Founded in 1477, it is one of the oldest universities in Europe and one of the most prestigious in Germany.
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                Technische Universität Darmstadt
              </h3>
              <a target="_blank" href="https://www.tu-darmstadt.de/index.en.jsp" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                tu-darmstadt.de
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">Karolinenpl. 5, 64289 Darmstadt, Germany</li>
                <li class="text-sm md:text-base">+49 6151 1601</li>
              </ul>
              <Image src={TDU} alt="Technische Universität Darmstadt" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                Graduates of TU Darmstadt include Nobel Prize winners, entrepreneurs, managers, billionaires and politicians. As of September 2019, the university is associated with 4 Nobel laureates and 3 Wolf Prize in Physics laureates. For several years, TU Darmstadt has been one of the universities with the most top managers in the German economy. The university is currently among the top 3. The graduates include Oliver Zipse, Peter Grünberg, Chaim Weizmann and John Tu.
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                Paris-Sud University (Université Paris-Sud)
              </h3>
              <a target="_blank" href="http://www.universite-paris-saclay.fr/en" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                universite-paris-saclay.fr
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">15, Rue Georges Clemenceau 91400, Orsay, France</li>
                <li class="text-sm md:text-base">+33 1 69 15 67 50</li>
              </ul>
              <Image src={PSU} alt="Paris-Sud University" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                Paris-Sud University, officially known as Université Paris-Sud, was a prestigious public research university located primarily in the southern suburbs of Paris, France. It was established in 1971 and was renowned for its strong focus on science, technology, engineering, and health sciences. In 2020, Paris-Sud University merged into a larger institution, Paris-Saclay University, as part of a broader reorganization of higher education in France aimed at creating a top-tier global research university.
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                University of Liverpool
              </h3>
              <a target="_blank" href="https://www.liverpool.ac.uk/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                liverpool.ac.uk
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">Foundation Building, Brownlow Hill, Liverpool L69 7ZX, United Kingdom</li>
                <li class="text-sm md:text-base">+44 151 794 2000</li>
              </ul>
              <Image src={UL} alt="University of Liverpool" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                The University of Liverpool (abbreviated UOL) is a public research university in Liverpool, England. Founded as a college in 1881, it gained its Royal Charter in 1903 with the ability to award degrees, and is also known to be one of the six 'red brick' civic universities, the first to be referred to as The Original Red Brick. It comprises three faculties organised into 35 departments and schools. It is a founding member of the Russell Group, the N8 Group for research collaboration and the university management school is triple crown accredited.
              </p>
              <p class="text-sm md:text-base mt-3">
                Ten Nobel Prize winners are amongst its alumni and past faculty and the university offers more than 230 first degree courses across 103 subjects. Its alumni include the CEOs of GlobalFoundries, ARM Holdings, Tesco, Motorola and The Coca-Cola Company.
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                GSI Helmholtz Centre for Heavy Ion Research
              </h3>
              <a target="_blank" href="https://www.gsi.de/start/aktuelles" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                gsi.de
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">
                  GSI Helmholtzzentrum für Schwerionenforschung GmbH, Planckstraße 1, 64291 Darmstadt, Germany
                </li>
                <li class="text-sm md:text-base">+49 6159 71 0</li>
              </ul>
              <Image src={GSI} alt="GSI Helmholtz Centre for Heavy Ion Research" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                The GSI Helmholtz Centre for Heavy Ion Research (German: GSI Helmholtzzentrum für Schwerionenforschung) is a federally and state co-funded heavy ion (Schwerion [de]) research center in the Wixhausen suburb of Darmstadt, Germany. It was founded in 1969 as the Society for Heavy Ion Research (German: Gesellschaft für Schwerionenforschung), abbreviated GSI, to conduct research on and with heavy-ion accelerators. It is the only major user research center in the State of Hesse.
              </p>
              <p class="text-sm md:text-base mt-3">
                The laboratory performs basic and applied research in physics and related natural science disciplines. Main fields of study include plasma physics, atomic physics, nuclear structure and reactions research, biophysics and medical research. The lab is a member of the Helmholtz Association of German Research Centres.
              </p>
            </li>
            <li>
              <h3 class="text-black font-display text-xl md:text-2xl">
                Peking University
              </h3>
              <a target="_blank" href="https://english.pku.edu.cn/" class="mt-3 text-carrot hover:underline text-sm md:text-base">
                english.pku.edu.cn
              </a>
              <ul class="pt-4">
                <li class="text-sm md:text-base text-neutral-700">5 Yiheyuan Rd, Haidian District, Beijing, China, 100871</li>
                <li class="text-sm md:text-base">+86 10 6275 1201</li>
              </ul>
              <Image src={PU} alt="Peking University" class="w-full h-auto mt-3" />
              <p class="text-sm md:text-base mt-3">
                Peking University (abbreviated PKU or Beida) is a public university in Haidian, Beijing, China. It is affiliated with and funded by the Ministry of Education of China. The university is part of the Double First-Class Construction and the C9 League. It was a part of the now-defunct Project 211 and Project 985.
              </p>
              <p class="text-sm md:text-base mt-3">
                Peking University has six faculties, namely Humanities, Social Sciences, Economics and Management, Science, Information Technology and Engineering, as well as Health Science. It consists of 55 schools and departments, 60 research entities, and ten affiliated hospitals. By 2017, Peking University's staff include 76 academicians of the Chinese Academy of Sciences, 19 members of the Chinese Academy of Engineering and 25 members of the World Academy of Sciences.
              </p>
            </li>
          </ul>
        </div>
  </div>
</section>
