---
import { Image } from 'astro:assets';
import lr from '@/images/lr.jpg';
import tl from '@/images/tl.jpg';
import el from '@/images/el.jpg';
import dy from '@/images/dy.jpg';
import pp from '@/images/pp.png';
import pfp from '@/images/pfp.webp';
---
<section class=" bg-white ">
  <div class="max-w-4xl mx-auto pt-8 pb-16">
    <div>
      <h2 class="text-carrot font-display text-3xl md:text-4xl px-8 pb-4">
        Team leader
      </h2>
      <div class="text-black text-xs flex flex-col mx-auto px-8 pt-2">
        <ul class="space-y-16">
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={lr} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Dr. Liss Vázquez Rodríguez</h3>
                <a target="_blank" href="https://www.mpi-hd.mpg.de/mpi/en/" class="text-carrot hover:underline text-sm md:text-base">
                  MPIK, P.I LIAF Group
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland</li>
                  <li class="text-sm md:text-base">+41 22 767 2783</li>
                  <li class="text-sm md:text-base">
                    <a href="mailto:liss.vazquez.rodriguez@cern.ch" class="text-carrot hover:underline">liss.vazquez.rodriguez@cern.ch</a>
                  </li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Dr. Liss Vázquez Rodríguez is a prominent physicist specializing in experimental nuclear physics. She is affiliated with the Max-Planck-Institut für Kernphysik (MPIK) in Heidelberg, Germany, and is actively involved in research at CERN, particularly within the ISOLDE facility. Her work focuses on high-resolution laser spectroscopy, a technique used to study the properties of atomic nuclei, especially those that are neutron-rich or otherwise challenging to examine. 
              Dr. Rodríguez has made significant contributions to understanding nuclear structure and dynamics, particularly through her work on isotopes of elements like tellurium and antimony. She is also a key member of the COLLAPS collaboration at CERN, which explores nuclear charge radii and electromagnetic moments among other nuclear characteristics. <a target="_blank" href="https://www.mpi-hd.mpg.de/mpi/en/research/scientific-divisions-and-groups/stored-and-cooled-ions/members/liss-v-rodriguez" class="text-carrot hover:underline">More...</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8">
      <h2 class="text-carrot font-display text-3xl md:text-4xl px-8 pb-4">
        Project Associate
      </h2>
      <div class="text-black text-xs flex flex-col mx-auto px-8 pt-2">
        <ul class="space-y-16">
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={dy} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Dr. Deyan Yordanov</h3>
                <a target="_blank" href="https://www.mpi-hd.mpg.de/mpi/en/" class="text-carrot hover:underline text-sm md:text-base">
                  MPIK, LIAF Group
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland</li>
                  <li class="text-sm md:text-base">+33 169 153 307</li>
                  <li class="text-sm md:text-base "><a href="mailto:lyordanov@ipno.in2p3.fr" class="text-carrot hover:underline">yordanov@ipno.in2p3.fr</a></li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Dr. Deyan Yordanov is a researcher and academic associated with Université Paris-Sud, now part of Université Paris-Saclay, one of the leading research universities in France. Université Paris-Saclay is known for its excellence in science and engineering, and it collaborates with several prestigious institutions and research centers.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8">
      <h2 class="text-carrot font-display text-3xl md:text-4xl px-8 pb-4">
        Postdocs
      </h2>
      <div class="text-black text-xs flex flex-col mx-auto px-8 pt-2">
        <ul class="space-y-16">
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={pp} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Dr. Peter Plattner</h3>
                <a target="_blank" href="https://home.cern/" class="text-carrot hover:underline text-sm md:text-base">
                  CERN research fellow
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland</li>
                  <li class="text-sm md:text-base">+43 650 4034 208</li>
                  <li class="text-sm md:text-base">
                    <a href="mailto:peter.plattner@cern.ch" class="text-carrot hover:underline">peter.plattner@cern.ch</a>
                  </li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Dr. Peter Plattner is a researcher involved in experimental atomic and nuclear physics, particularly in the field of laser spectroscopy. He is affiliated with the Max Planck Institute for Nuclear Physics in Heidelberg and contributes to the COLLAPS experiment at CERN's ISOLDE facility. This experiment focuses on collinear laser spectroscopy to study exotic nuclei.
              M.Sc. Tim Lellinger works alongside Dr. Plattner on the COLLAPS project. However, there is no information available on an individual named Edward Ilattheus within this context or similar research areas. <a target="_blank" href="https://miracls.web.cern.ch/CVs/cv_peter.pdf" class="text-carrot hover:underline">More...</a>
            </p>
          </li>
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={tl} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Tim Lellinger</h3>
                <a target="_blank" href="https://home.cern/" class="text-carrot hover:underline text-sm md:text-base">
                  LIAF Group
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland</li>
                  <li class="text-sm md:text-base">+41 22 767 2783</li>
                  <li class="text-sm md:text-base">
                    <a href="mailto:tim.enrico.lellinger@cern.ch" class="text-carrot hover:underline">tim.enrico.lellinger@cern.ch</a>
                  </li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Tim Enrico Lellinger is a Ph.D. student and researcher affiliated with ISOLDE at CERN and the Institute for Nuclear Physics at TU Darmstadt. His work is primarily focused on experimental nuclear physics, where he is involved in research related to laser spectroscopy, particularly through the LaserSpHERe group.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8">
      <h2 class="text-carrot font-display text-3xl md:text-4xl px-8 pb-4">
        PhD Students
      </h2>
      <div class="text-black text-xs flex flex-col mx-auto px-8 pt-2">
        <ul class="space-y-16">
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={el} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Edward Matthews</h3>
                <a target="_blank" href="https://home.cern/" class="text-carrot hover:underline text-sm md:text-base">
                  CERN
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">EP-Dept./ISOLDE, 1211 Geneva 23, Switzerland</li>
                  <li class="text-sm md:text-base">+41 22 767 2783</li>
                  <li class="text-sm md:text-base "><a href="mailto:tim.enrico.lellinger@cern.ch" class="text-carrot hover:underline">tim.enrico.lellinger@cern.ch</a></li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Edward Matthews contributes to the scientific endeavors of the COLLAPS experiment, working on areas such as data analysis, laser spectroscopy, or the development of experimental techniques and methodologies. His work would be part of broader efforts to explore and better understand the fundamental properties of matter at a nuclear level.          
            </p>
          </li>
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={pfp} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Jack Hughes</h3>
                <a target="_blank" href="https://www.liverpool.ac.uk/" class="text-carrot hover:underline text-sm md:text-base">
                  Univesity of Liverpool
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">-</li>
                  <li class="text-sm md:text-base">-</li>
                  <li class="text-sm md:text-base "><a href="mailto:jbh@ns.ph.liv.ac.uk" class="text-carrot hover:underline">jbh@ns.ph.liv.ac.uk</a></li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Jack Hughes is a physicist associated with the University of Liverpool. He is known for his work in the field of particle physics, particularly focusing on experimental high-energy physics. At the University of Liverpool, Hughes is involved in research that contributes to our understanding of the fundamental particles and forces that make up the universe.            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8">
      <h2 class="text-carrot font-display text-3xl md:text-4xl px-8 pb-4">
        Master students
      </h2>
      <div class="text-black text-xs flex flex-col mx-auto px-8 pt-2">
        <ul class="space-y-16">
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={pfp} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Till Fabritz</h3>
                <a target="_blank" href="https://www.ikp.tu-darmstadt.de/das_institut_kernphysik/index.en.jsp" class="text-carrot hover:underline text-sm md:text-base">
                  Darmstadt Institute of Nuclear Physics
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">S2|14 22
                    Schlossgartenstraße 9
                    64289 Darmstadt</li>
                  <li class="text-sm md:text-base">+49 6151 16-23576</li>
                  <li class="text-sm md:text-base "><a href="mailto:tfabritz@ikp.tu-darmstadt.de" class="text-carrot hover:underline">tfabritz@ikp.tu-darmstadt.de</a></li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              Jack Hughes is a physicist associated with the University of Liverpool. He is known for his work in the field of particle physics, particularly focusing on experimental high-energy physics. At the University of Liverpool, Hughes is involved in research that contributes to our understanding of the fundamental particles and forces that make up the universe.            </p>
          </li>
          <li class="bg-gray-100 p-8">
            <div class="flex flex-col md:flex-row items-start md:items-center space-y-4 md:space-y-0 md:space-x-4">
              <div class="hidden md:flex-shrink-0 md:block w-32 h-40">
                <Image src={pfp} alt="Liss Vázquez Rodríguez" class="w-full h-full object-cover" />
              </div>
              <div class="flex flex-col justify-center">
                <h3 class="text-black font-display text-xl md:text-2xl mb-2">Ronaldo Menendez</h3>
                <a target="_blank" href="https://www.mpi-hd.mpg.de/mpi/en/" class="text-carrot hover:underline text-sm md:text-base">
                  MPIK, LIAF Group
                </a>
                <ul class="pt-4 space-y-1">
                  <li class="text-sm md:text-base text-neutral-700">-</li>
                  <li class="text-sm md:text-base">-</li>
                  <li class="text-sm md:text-base "><a href="mailto:jbh@ns.ph.liv.ac.uk" class="text-carrot hover:underline">-</a></li>
                </ul>
              </div>
            </div>                                                   
            <p class="text-sm md:text-base mt-3">
              A researcher associated with the Max Planck Institute for Nuclear Physics (MPIK) in Heidelberg, Germany. He works within the Cosmic Ray Research Division at MPIK, which focuses on high-energy cosmic rays and gamma-ray astronomy.          </li>
        </ul>
      </div>
</section>
